//// Generics

.soph-Page {
    background: $Page-backgroundColor;
    color: $Page-textColor;
    font-family: $fontPrimaryFamily;
    font-style: $fontPrimaryStyle;
    font-weight: $fontPrimaryWeight;
}