//// Theme Variables

/// General
$Page-backgroundColor: $colorLightPink;
$Page-textColor: $colorDarkGray;

/// Header
$Header-backgroundColor: $colorLightPink;
$Header-textColor: $colorDarkGray;

/// Footer
$Footer-backgroundColor: $colorDarkGray;
$Footer-textColor: $colorLightGray;