//// Colors

/// Light Colors
$colorLightPink: #E2DBE3;
$colorLightGray: #F9F9F9;

/// Dark Colors
$colorDarkGray: #1A1A1A;

//// Fonts

/// Primary Font
$fontPrimaryFamily: 'Lato';
$fontPrimaryStyle: normal;
$fontPrimaryWeight: 400;
