{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicons -->
    <meta name="msapplication-config" content="{% static 'images/icons/favicons/browserconfig.xml' %}" />
    <meta name="msapplication-TileColor" content="#E2DBE3" />
    <meta name="theme-color" content="#E2DBE3" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicons/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'images/icons/favicons/site.webmanifest' %}" />
    <link rel="mask-icon" href="{% static 'images/icons/favicons/safari-pinned-tab.svg' %}" color="#CA00f5" />
    <link rel="shortcut icon" href="{% static 'images/icons/favicons/favicon.ico' %}" />

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />

    <title>Soph &bullet; A Thought Space</title>
  </head>
  <body>
    <script src="{% static 'scripts/main.js' %}"></script>
  </body>
</html>