//// Footer

.soph-Footer {
    background: $Footer-backgroundColor;
    color: $Footer-textColor;
    font-weight: 300;
    padding: 1rem;

    .soph-Footer-link {
        color: $Footer-textColor;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
